.hero-section {
  background-color: white;
}

.hero-content {
  display: flex;
  padding: 70px 70px 0px 70px;
  gap: 40px;
}

.hero-main-img {
  height: 75%;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 28px;
  background: var(--accent-red);
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.btn-primary:hover {
  background: #c65c5c;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-arrow {
  font-size: 20px;
  line-height: 0;
}

.about-inner {
  background-color: #f0e9e1;
  display: flex;
  padding: 70px 70px 0px 70px;
  gap: 40px;
}

.hero-main-img {
  border-radius: 20%;
}

a {
  text-decoration: none;
  color: var(--accent-red);
  transition: 0.25s ease;
}

a:hover {
  color: var(--accent-brown);
}

.daily-section {
  background: var(--tan-bg);
  padding: 100px 0;
  text-align: center;
}

.daily-title {
  font-size: 48px;
  color: var(--text-brown);
  margin-bottom: 10px;
}
.daily-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
}

.daily-card {
  background: var(--tan-light);
  padding: 35px 28px;
  border-radius: 22px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.daily-img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 80px;
  margin-bottom: 22px;
}

.daily-name {
  font-size: 32px;
  color: var(--text-brown);
  margin-bottom: 10px;
}

.daily-desc {
  color: var(--text-dark);
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}

@media (max-width: 900px) {
  .daily-grid {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
